*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #E4E6C3;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: #222725;
    color:white;
    padding: 15px 20px;
}
header > :last-child {
    margin-left: auto;
    font-size: 20px;
}
header > :last-child > span {
    color: #00d800;
}

#egg-select{
    cursor: pointer;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 10px;
    background-color: #ffffff42;
}

.egg-selector {
    display: none;
    position: fixed; 
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    z-index: 999; 
    pointer-events: auto; 
}

.egg-selector label,
.egg-selector select {
    font-size: 16px;
}
.egg-selector label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.egg{
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
}
.img-container{
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px black;
    padding: 20px;
}

#egg-img{
    cursor:pointer;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    height: 300px;
    width: 300px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
#egg-img.clicked{
    transform: scale(1.2);
    opacity: 0.8;
}

#info{
    padding: 5px 10px;
    text-align: center;
    width: 200px;
    font-size: 18px;
    margin-top: 15px;
    background-color: #464646a8;
    color: white;
    border-radius: 10px;
    display: none;
}

#info > p{
    margin: 0;
    padding: 2px 0px;
}

.inventory-container{
    background-color: #222725;
    color: #E4E6C3;
    min-height: 100px;
}
.inventory-container > h1{
    text-align: center;
    padding: 10px 0 5px 0;
}
.inventory-container > p{
    text-align: center;
    padding: 0 0 5px 0;
}

#inventory{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: #ffffff11;
}
.inventory-item{
    display: flex;
    flex-direction: column; /* Розміщує елементи по вертикалі */
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 56px 56px; /* Розмір пікселя */

    margin: 10px;
    padding: 5px;
    height: 70px;
    position: relative;
    width: 70px;
    border-radius: 5px;
    border: 2px solid black;
}
.inventory-item > p{
    cursor: pointer;
    z-index: 1;
    background-color: #22272577;
    border-radius: 2px;
    padding: 1px 3px;
    transition: all 0.2s ease-in-out;
}
.inventory-item > p:hover{
    background-color: #c90f0fd3;
}
.pixelated-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.star {
    cursor: pointer;
    z-index: 999;
    position: absolute; 
    top: 5px;
    right: 5px; 
    width: 15px; 
    height: 15px; 
    transition: transform 0.2s ease;
}
.star:hover{
    transform: scale(1.5);
}


.filter{
    margin: 10px 0;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.089);
    display: flex;
    align-items: center;
    justify-content: center;
}
.SellAll{
    cursor: pointer;
    color: firebrick;
    border-style:solid;
    background: none;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: firebrick;
    transition: all 0.2s ease;
}

.SellAll:hover{
    color: #c72e2e;
    border-color: #c72e2e;
}